language: python
python:
- '3.6'
- '3.7'
install:
- pip install -r requirements.txt

before_script:
  - psql -c "CREATE DATABASE apitest_db;" -U postgres
env:
- DB=postgres

services:
  - postgresql
script:
- ./manage.py test
cache: pip

notifications:
  email: false
